all:
  children:
    ansible:
      hosts:
        localhost:
          ansible_connection: local
          ansible_user: ubuntu

    preprod:
      vars:
        env: preprod

      hosts:
        worker01:
          ansible_host: "{{ preprod_ip }}"
          ansible_user: ubuntu
          ansible_password: ubuntu
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'

    prod:
      vars:
        env: prod

      hosts:
        worker02:
          ansible_host: "{{ prod_ip }}"
          ansible_user: ubuntu
          ansible_password: ubuntu
          ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
